.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  padding: 1em;
  display: block;
}
